<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="./css/style.css"> --}}  
    <link rel="stylesheet" href="/css/style.css">
    <title>LOL DB Project</title>
</head>
<body>
    <main>
        <header>
            <img src="/images/lolLogo.jpg" alt="LOL title" class="titleImage">
            <nav>
                <ul>
                    <li class="navLinks"><a href="/">Home</a></li>
                    <li class="navLinks"><a href="/api/champions">Champions</a></li>
                </ul>
            </nav>
        </header>
        <section>
        
        
        {{{body}}}
    
    
        </section>
        <footer class="footer">
            <a href="https://github.com/fabien1313" target="_blank"><i class='fa fa-github git'>Fabien</i></a>
            <a href="https://github.com/jk377y" target="_blank"><i class='fa fa-github git'>James</i></a>
        </footer>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>