<div class="homepageDiv">
    <iframe width="960" height="540" src="https://www.youtube.com/embed/aR-KAldshAE" title="Warriors | Season 2020 Cinematic - League of Legends (ft. 2WEI and Edda Hayes)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"></iframe>
</div>