<div id="login">
    <div id="flex-container-log">
        <div class="forms login-form-background">
            <form>
                <h2 class="login-el login-title ">Login</h2>
                <label class="login-el login-user-pass" for="username">Username:</label>
                <input class="login-el" type="text" id="username" name="username" required>
                <br>
                <label class="login-el login-user-pass" for="password">Password:</label>
                <input class="login-el" type="password" id="password" name="password" required>
                <br>
                <button class="login-el login-btn" type="submit">Login</button>
            </form>
            <h1 id="or-hide">OR</h1>
        </div>

        <div id="or-divider">
            <h1 id="or-caption">OR</h1>
        </div>

        <div class="forms signup-form-background">
            <form>
                <h2 class="signup-el signup-title">Signup</h2>
                <label class="signup-el signup-user-pass" for="new-username">Username:</label>
                <input class="signup-el" type="text" id="new-username" name="new-username" required>
                <br>
                <label class="signup-el signup-user-pass" for="new-password">Password:</label>
                <input class="signup-el" type="password" id="new-password" name="new-password" required>
                <br>
                <br>
                <button class="signup-el sign-up-btn" type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>


