*, *::before, *::after {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
    --color1: #0d1720;
    --color2: black;
    --white: white;
    --lolColor: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    --lolColor2: #2dfcfb;
    --borderColor: rgba(5, 5, 5, 0.582);
    --bgColor: #0d1720;
    --windowColor: rgba(0, 0, 0, 0.459);
    --hover: rgb(255, 255, 0);
    --textColor: rgba(142, 204, 136, 0.856);
    --logintitle: rgb(205, 250, 250);
    --loginborder: rgb(200, 155, 60);
}
.testText {
    color: white;
}

body {
    font-family: Friz Quadrata;
    height: 100vh;
    width: 100vw;
    line-height: 1;
    background-image: url(/images/lolBackground.jpg);
    background-size: cover;
    background-position: center;
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    height: auto;
}
.titleImage {
    width: 33%;
    max-width: 25rem;
}
.git {
    color: rgba(200, 156, 60, 0.72);
    font-size: 2.5vw;
    margin: 0 2.2vw;
    max-width: 25rem;
}
.git:hover {
    color: rgb(200, 156, 60);
}

.homepageDiv {
    display: flex;
    justify-content: center;
}
.homepageDiv > iframe {
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px;
    background-color: var(--borderColor);
}


.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 100px;
}

/* css for champions page */
.galleryContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.galleryTitle {
    background: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2.5vw;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.gallery div {
    margin: 3px;
}
.gallery div:hover {
    z-index: 100;
}
.thumbnail {
    height: 56px;
    width: 56px;
    opacity: 0.8;
    box-shadow: 1px 1px 3px 1px;
    border-radius: 10%;
}
.thumbnail:hover {
    opacity: 1.0;
    border: 2px solid var(--lolColor2);
    border-radius: 50%;
    transform:scale(1.75);
}



/* End of champions page */


/* Login page css */
#flex-container-log {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.forms {
    margin: 35px;
    padding: 48px;
    max-width:100%;
    max-height: 100%;
}
.login-form-background {
    background-image: url(../images/shyv.jpg);
    background-repeat: no-repeat;
    border: 2px solid var(--logintitle);
    box-shadow: 10px 5px 5px rgb(3, 151, 171);
}
.signup-form-background {
    background-image: url(../images/diana1.jpg);
    background-repeat: no-repeat;
    object-fit: fill;
    border: 2px solid var(--logintitle);
    box-shadow: 10px 5px 5px rgb(3, 151, 171);
    padding-right: 80px;  
}
.login-el {
    margin-bottom: 10px;
}
.signup-el {
    margin-bottom: 5px;
  
}
.login-title, .signup-title {
    color:rgb( 205, 250, 250);
    font-size: 45px;
    margin-bottom: 13px;
}
.forms {
    border-radius: 12px;
}
#or-divider {
    margin-top: 200px;

}
#or-caption {
    color:var(--logintitle);;
    font-size: 25px;
}
#or-hide{
    position: absolute;
    color:var(--loginborder);
    font-size: 25px;
    margin-top:75px;
    margin-left: 145px;
    
    
}
.login-user-pass, .signup-user-pass {
    font-size: 30px;
    color: rgb(205, 250, 250);
}

.login-btn, .sign-up-btn {
    padding:10px;
    border-radius: 12px;
    border: 3px solid rgb(205, 250, 250);
    background-color: rgb(3, 151, 171);
    box-shadow: 10px 5px 5px black;
    color: var(--logintitle);
    font-family: 'Raleway';
    font-weight: bolder;
}
/* End Login page css */

/* Login mobile responsiveness */
@media only screen and (max-width: 600px) {
    #or-divider {
        margin-top: 45px;
    }   
  }
@media only screen and (max-width: 1067px) {
    #or-divider {
        display: none;
    } 
  }
@media only screen and (min-width: 1030px) {
    #or-hide {
        display: none;
    } 
  }
@media only screen and (max-width: 1029px) {
    #or-hide {
        display: none;
    } 
  }
@media only screen and (max-width: 1030px) {
    .login-title, .signup-title {
        font-size: 28px;
    }
    .login-user-pass, .signup-user-pass {
        font-size: 15px;
    }
    .login-btn, .sign-up-btn {
        font-size: 10px;
    }
  }
  /* End Login mobile responsiveness */