/* ===== RESETS AND DEFAULTS ===== */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: auto;
    font-family: Friz Quadrata;
    line-height: 1.5;
    background-color: #0d1720;
}
:root {
    --color1: #0d1720;
    --color2: black;
    --white: white;
    --lolColor: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    --lolColor2: #2dfcfb;
    --borderColor: rgba(5, 5, 5, 0.993);
    --bgColor: #0d1720;
    --windowColor: rgba(0, 0, 0, 0.459);
    --hover: rgb(255, 255, 0);
}
/* link class - no text decoration after active or visited */
.navLink:visited {text-decoration: none;}
.navLink:active {text-decoration: none;}
/* border class - shadow */
.border {
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
}
/* ===== RESETS AND DEFAULTS ===== */
.lolText {
    background: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* ===== Header ===== */
.header {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.title {
    height: auto;
    width: 100%;
}
.title h1 {
    text-align: center;
    font-size: 48px;
}
.apiText {
    font-family: Reglisse_Back;
    color: var(--lolColor2);
    font-size: 3rem;
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1040px;
    border: 1px solid var(--lolColor2);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 15px;
}
.pcNav {
    padding: 2px;
    padding-bottom: 3px;
}
.navLink{
    font-size: 36px;
}
.navLink:hover {
    text-decoration: underline;
    color: var(--lolColor2);
    -webkit-text-fill-color:var(--lolColor2);
  
}
.container {
    display: flex;
    justify-content: flex-end;
    width:96%;
}
.hamburger {
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none
}
.hamburger .bar,.hamburger:after,.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--lolColor2);
    z-index: 5;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    z-index: 5;
    background-color: red;
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
    z-index: 5;
    background-color: red;
}
.hamburger.is-active .bar {
    opacity: 0;
    z-index: 5;
}
.mobileNav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: -1;
    background-color: #2dfcfc23;
    padding-top: 180px;
    -webkit-transition: 0.4s;
    transition: 0.4s
}
.mobileNav.is-active {
    left: 0
}
.mobileNav a {
    display: block;
    width: 100%;
    max-width: 225px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: #FFF;
    text-decoration: none;
}
/* when greater than 490px this happens*/
@media screen and (max-width: 490px) {
    .mainPic {
        width: 300px;
    }
    .title h1 {
        font-size: 48px;
    }
    .navbar {
        display: none;
    }
}
/* when between 500px and 700px this happens */
@media screen and (min-width: 490px) and (max-width: 843px) {
    .mainPic {
        width: 400px;
    }
    .title h1 {
        font-size: 64px;
    }
    .navbar {
        display: none;
    }
}
/* when between 700px and 1000px this happens*/
@media screen and (min-width: 844px) and (max-width: 1000px) {
    .mainPic {
        width: 550px;
    }
    .title h1 {
        font-size: 80px;
    }
    .hamburger {
        display: none;
    }
    .pcNav {
        font-size: 18px;
    }
    .mobileNav {
        display: none;
    }
}
/* when greater than 1000px this happens */
@media screen and (min-width: 1000px) {
    .mainPic {
        width: 800px;
    }
    .title h1 {
        font-size: 96px;
    }
    .pcNav {
        font-size: 24px;
    }
    .hamburger {
        display: none;
    }
}
/* ***** === ^^^ Base HTML Styling ^^^ === ***** */
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 200px;
}
.hide {
    display: none;
}
.white  {
    color: var(--lolColor2);
    font-size: 20px;
}
.thumbnail {
    height: 36px;
    width: 36px;
    opacity: 0.8;
    box-shadow: 1px 1px 5px 1px;
}
.thumbnail:hover {
    opacity: 1.0;
    border: 2px solid var(--lolColor2);
    border-radius: 50%;
    transform:scale(1.75);
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
}
.gallery div {
    margin: 3px;
}
.gallery div:hover {
    z-index: 100;
}
.champDisplay {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
}
.champBio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 300px;
}
.bigPic {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.bioText {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: justify;
    height: 100%;
}
.nameText {
    font-size: 42px;
    text-align: center;
}
.statWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.stats {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 300px;
}
.catagory {
    font-size: 21px;
}
/* =========== Local Media Queries =========== */
/* when between 490px and 843px this happens */
@media screen and (min-width: 490px) and (max-width: 843px) {
    .statWindow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
/* when between 844px and 1000px this happens*/
@media screen and (min-width: 844px) and (max-width: 999px) {
    .champDisplay {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .champBio {
        display: flex;
        flex-direction: column;
        width: 40%;
        max-width: 300px;
        margin-right: 20px;
    }
    .bigPic {
        display: flex;
        justify-content: center;
        width: 40%;
        margin-top: 30px;
        margin-left: 20px;
    }
    .statWindow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-top: 30px;
    }
}
/* when greater than 1000px this happens */
@media screen and (min-width: 1000px) {
    .champDisplay {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
        max-width: 1200px;
    }
    .champBio {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 31%;
        max-width: 300px;
        margin-right: 3%;
    }
    .bigPic {
        display: flex;
        justify-content: center;
        width: 31%;
        max-width: 300px;
    }
    .statWindow {
        display: flex;
        flex-direction: column;
        width: 31%;
        max-width: 300px;
        margin-left: 3%;
    }
}