@font-face {
    font-family: 'Friz Quadrata';
    src: url(../css/fonts/Friz-Quadrata-Font/Friz\ Quadrata\ Regular.ttf);
}
@font-face {
    font-family: 'Friz Quadrata';
    src: url(../css/fonts/Friz-Quadrata-Font/Friz\ Quadrata\ Std\ Medium.otf);
}
@font-face {
    font-family: 'Friz Quadrata';
    src: url(../css/fonts/Friz-Quadrata-Font/Friz\ Quadrata\ Bold.otf);
}
@font-face {
    font-family: 'Friz Quadrata';
    src: url(../css/fonts/Friz-Quadrata-Font/Friz\ Quadrata\ Italic.ttf);
}
@font-face {
    font-family: 'Reglisse_Back';
    src: url(../css/fonts/Reglisse/Reglisse_Back.otf);
}
@font-face {
    font-family: 'Reglisse_Fill';
    src: url(../css/fonts/Reglisse/Reglisse_Fill.otf);
}
@font-face {
    font-family: 'Reglisse';
    src: url(../css/fonts/Reglisse/Reglisse.otf);
}