.resources-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    gap: 6rem;
}
.resources-section-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.resources-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--windowColor);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 3px var(--borderColor);
}
.resources-titles {
    background: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.resources-link-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.resources-link-icon, .resources-jk377y {
    height: 60px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.resource-link-glow:hover {
    box-shadow: 0 0 15px var(--lolColor2);
}
.resources-disclaimer {
    color: var(--lolColor2);
    width: 90%;
    max-width: 700px;
    text-align: center;
}
.golden {
    color: #c49e54;
}
