/* ===== RESETS AND DEFAULTS ===== */
*,*::before,*::after{box-sizing: border-box;}
*{margin: 0;padding: 0;}
body{line-height: 1.5;}

/* var() values for group coloring */
:root {
    --color1: white;
    --color2: black;
    --borderColor: rgba(5, 5, 5, 0.993);
    --bgColor: rgba(0, 0, 0, 0.562);
    --windowColor: rgba(0, 0, 0, 0.459);
    --hover: rgb(255, 255, 0);
}

/* link class - no text decoration after active or visited */
.link:visited {text-decoration: none;}
.link:active {text-decoration: none;}

/* link class - color when hover over */
.link:hover {color: var(--hover)}

/* border class - shadow */
.borderMain {
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
}

/* ===== RESETS AND DEFAULTS ===== */

